#d1 {
    text-align: center;
}

#d2 {
    text-align: center;
}
button:hover{
    background-color: blue;
}
button{
    background-color: limegreen;
    box-shadow: 0 7px grey;
    border-radius: 8px;
    height:30px;
    width:60px;
}